.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.nav-title {
  font-family: 'Baskerville Old Face';
  font-size: x-large;
}

.nav-link {
  font-family: 'Franklin Gothic Demi sans-serif';
  font-size: x-large;
  font-weight: lighter;
  text-transform: capitalize;
  color: whitesmoke;
}

.nav-link:hover {
  color: chocolate;
}

.nav-link:active {
  color: chocolate;
}

@media only screen and (max-width: 991px) {
  .nav-link {
    color: black;
  }
}
