.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.nav-title {
  font-family: 'Baskerville Old Face';
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 32px;
  vertical-align: "center";
  mix-blend-mode: difference;
}

.nav-link {
  font-size: 24px;
  color: white;
  mix-blend-mode: difference;
  font-family: 'CORBEL';
}

/* unvisited link */
.nav-link:link {
  color: rgb(255, 255, 255);
}

/* visited link */
.nav-link:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
.nav-link:hover {
  color: rgb(255, 255, 255);
}

/* selected link */
.nav-link:active {
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

@media (min-width: 768px) {
  .nav-title {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}