.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.nav-title {
  font-family: 'Baskerville Old Face';
  font-size: x-large;
}

.nav-link {
  font-family: 'CORBEL';
  font-size: x-large;
  font-weight: lighter;
  text-transform: capitalize;
  color: rgb(199, 199, 199);
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}

.nav-link:active {
  color: #fff;
}

@media only screen and (max-width: 991px) {
  .nav-link {
    color: rgb(255, 255, 255);
  }
}
