.modal-close-button {
    position: absolute;
    right: 10px;
    top: 10;
    font-size: 30px;
}

.image-modal-content {
    display: block;
    object-Fit: contain;
    height: 100%;
    width: 100%;
    margin: auto,
}

.image-modal-content:hover {
    cursor: url(../../assets/cursors/x-letter.svg), 25 15, auto;
}