.contact-us-form-wrapper {
  position: absolute;
  top: 5%;
  padding: 0px;
  margin: 0px;
  font-family: 'fantasy';
  font-size: 15px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: whitesmoke;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .contact-us-form-wrapper {
    top: 0px;
    height: 100vh;
  }
}